body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
}

.background {
  background-image: url('https://ik.imagekit.io/selangortravel/wp-content/uploads/2019/08/Sunway_Pyramid_Overview_Tourism_Selangor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.msger {
  width:100%;
  max-width:750px;
  flex-flow:column wrap;
  justify-content:space-between;
  margin:25px 10px;
  height:calc(100% - 50px);
  border:2px solid #ddd;
  box-shadow:0 15px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color:rgba(255, 255, 224, 0.5);
}

.msg {
  border-radius:15px;
}

.msger-header {
  background-color: #fff;
  color: rgb(235, 38, 42);
  text-align: center;
  padding: 5px;
}

.msger-header-title {
  font-size:17px;
  font-weight: 500;
}

.msger-chat {
  height:calc(100% - 60px);
  overflow-y: scroll;
  padding: 10px;
}

.msg-info {
  display: flex;
  margin-bottom: 10px;
}

.msg-bubble {
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size:0.85em;
}

.left-msg {
  border-bottom-left-radius: 0;
  float: left;
  background-color:#ececec;
}

.right-msg {
  background-color:lightblue;
  border-bottom-right-radius: 0;
  float: right;
}

.msger-inputarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background:#eee;
}

.msger-inputarea input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  background:#ddd;
  box-shadow: 1px 1px 1px #ccc;
}

.msger-inputarea button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-weight:bold;
}