body {
  display:flex;
  justify-content:center;
  font-family:Arial, Helvetica, sans-serif;
  height:100vh;
  align-items:center;
}

* {
  box-sizing:inherit;
}

.background {
  background-image: url('https://ik.imagekit.io/selangortravel/wp-content/uploads/2019/08/Sunway_Pyramid_Overview_Tourism_Selangor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.chatbox {
  width:100%;
  max-width:750px;
  flex-flow:column wrap;
  justify-content:space-between;
  margin:25px 10px;
  height:calc(100% - 50px);
  border:2px solid #ddd;
  box-shadow:0 15px 15px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color:rgba(255, 255, 224, 0.5);
}

.header {
  background-color: #fff;
  color: rgb(235, 38, 42);
  text-align: center;
  padding: 5px;
}

.title {
  font-size:17px;
  font-weight: 500;
}

.conversation {
    height:calc(100% - 60px);
    overflow-y: scroll;
    padding: 10px;
}

.bubble {
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
  margin-bottom: 10px;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.info-name {
  margin-right: 10px;
  font-weight: bold;
}

.info-time {
  font-size:0.85em;
}

.left-side {
  border-bottom-left-radius: 0;
  float: left;
}

.right-side {
  background-color:lightblue;
  border-bottom-right-radius: 0;
  float: right;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  
.message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:#eee;
}
  
.message-form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background:#ddd;
    box-shadow: 1px 1px 1px #ccc;
}
  
.message-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-weight:bold;
}